<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- version BD -->
<!--    <bean id="dao" class="dao.DaoImpl"/>-->

    <!-- version BD -->
    <bean id="dao" class="ext.DaoImplV2"/>

    <bean id="metier" class="metier.MetierImpl">
        <!-- via setter -->
<!--        <property name="dao" ref="dao"/>-->

        <!-- via constructor -->
        <constructor-arg ref="dao"/>
    </bean>
</beans>